@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');
body{
    background: rgb(255, 255, 255);   
    font-family:"Oswald" ;
}
ul, ol{
    list-style: none;
}
.nav li a{
    background: rgba(183,222,237,1);
    background: -moz-linear-gradient(top, rgba(183,222,237,1) 0%, rgba(113,206,239,1) 12%, rgba(33,180,226,1) 65%, rgba(33,180,226,1) 71%, rgba(183,222,237,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(183,222,237,1)), color-stop(12%, rgba(113,206,239,1)), color-stop(65%, rgba(33,180,226,1)), color-stop(71%, rgba(33,180,226,1)), color-stop(100%, rgba(183,222,237,1)));
    background: -webkit-linear-gradient(top, rgba(183,222,237,1) 0%, rgba(113,206,239,1) 12%, rgba(33,180,226,1) 65%, rgba(33,180,226,1) 71%, rgba(183,222,237,1) 100%);
    background: -o-linear-gradient(top, rgba(183,222,237,1) 0%, rgba(113,206,239,1) 12%, rgba(33,180,226,1) 65%, rgba(33,180,226,1) 71%, rgba(183,222,237,1) 100%);
    background: -ms-linear-gradient(top, rgba(183,222,237,1) 0%, rgba(113,206,239,1) 12%, rgba(33,180,226,1) 65%, rgba(33,180,226,1) 71%, rgba(183,222,237,1) 100%);
    background: linear-gradient(to bottom, rgba(183,222,237,1) 0%, rgba(113,206,239,1) 12%, rgba(33,180,226,1) 65%, rgba(33,180,226,1) 71%, rgba(183,222,237,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b7deed', endColorstr='#b7deed', GradientType=0 );
    color: black;
    width: auto;
    padding:15px 20px ;
    display: block;
}
#menu{
    float: none;
}
.nav li a:hover{
    background:#434343;
    color: blanchedalmond;
}
.nav > li{
    float: left;
}
.nav li ul{
    display: none;
    position: absolute;
    min-width: 10px;
}
.nav li:hover > ul {
    display: block;
}
.nav li ul li{
    position: relative;
}
.nav li ul li ul {
    right:-140px;
    top: 0px;
}
#pb {
    right:-8px;
    top: 0px;
}
#pc {
    right:-13px;
    top: 0px;
}
#cc {
    right:-48px;
    top: 0px;
}
#sa {
    right:-10px;
    top: 0px;
}
#p {
    right:59px;
    top: 0px;
}
#c{
    color: aliceblue;
}
.resolucion {
    width: 99%;
    text-align: center;
}

/**Movil**/

@media (max-width: 900px) {
    .menu{
        display: none;
    }
}


/**Tablet**/

@media (min-width: 768px) and (max-width: 990px) {
    .menu{
        display: none;
    }
}



@media (min-width: 991px) {
    .menu {
        display: none;
    }
}